:root {
  --clr-orange: #ffb347;
  /* primario */
  --clr-green: #033216;
  /* secundario */
  --clr-green2: #698459;

  --clr-dark: #191919;
  --clr-dark2: #535353;

  --clr-gray: #dcdcdc;
  /* fuentes, fondos */
  --clr-white: #f4f4f4;

}

@font-face {
  font-family: "Lemon/Milk";
  src: url("/Font/LEMONMILK-Light.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lemon/Milk" !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 2px;
}

p {
  color: var(--clr-dark2);
  font-size: 12px;
}

/* FLEX ROW Y FLEX COLUMN */
.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


section,
footer {
  padding: 50px 20px;
  gap: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section>*,
footer>* {
  max-width: 900px;
}

a.boton,
.button1 {
  padding: 10px 14px;
  border-radius: 14px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  letter-spacing: 2px;
  padding-left: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.button1 {
  background-color: var(--clr-orange);
  color: var(--clr-dark);
}




/*responsive para pantallas de escritorio */
@media (min-width: 768px) {}