<section>
  <div class="flex-row">
    <!-- <img src="/img/banner.jpg" alt="banner" /> -->

    <div class="nosotros">
      <h2>Bienvenido al Club Demente</h2>
      <p>
        Un solo club para todos los conceptos del Grupo Demente. Disfruta
        descuentos en tus platos favoritos, reserva tours gastronómicos y recibe
        tu comida en casa con nuestro delivery propio.
      </p>
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--clr-dark);
    text-align: center;
    color: var(--clr-white);
  }

  img {
    display: none;
  }

  div.flex-row {
    flex-wrap: wrap;
  }

  p {
    color: rgb(207, 207, 207);
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    .nosotros {
      width: 80%;
    }

    img {
      display: block;
      width: 300px;
    }

    div.flex-row {
      gap: 40px;
    }
  }
</style>
